.creations {
    width: 100%;
    /* border: 1px solid grey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 0% 0% 0%;
    max-width: 100%;
}

.aboutmetext {
    max-width: 100%;
}

.messtats {
    display: flex;
    
}

h2 {
    text-align: center;
    padding: 2%;
}

